<%- include('partials/header'); -%>

<form>
    <h2>Sign up</h2>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Email" required>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <div class="password error"></div>
    <button>Sign up</button>
</form>
<!-- on n'a pas besoin de action au niveau de form puisqu'on va gérer 
    la soumission du formulaire dans le js
-->
<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset des erreurs
        emailError.textContent = '';
        passwordError.textContent = ''; 

        // récupération des valeurs
        const email = form.email.value;
        const password = form.password.value;
        // on veut maintenant envoyer les données au serveur pas juste les afficher
        // console.log(email, password);
        // nous allons utiliser le fetch api et un code asynchrone
        // après avoir envoyer les données il faut créer un jwt token et on install un package pour le faire 
        // npm install jsonwebtoken 
        try{
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({ //il faut convertir les données en JSON pour les envoyer au serveur
                    email,
                    password
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            const data = await res.json()
            // on veut verifier si on a des erreurs et les afficher
            if (data.errors){
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
                // il faut reset les erreurs à chaque fois qu'on submit le formulaire
            }
            // s'il n'y a pas d'erreur on va rediriger l'utilisateur 
            if (data.user){
                location.assign('/');
            }
        }
        catch(err){
            console.log(err);
        }

    })
</script>

<%- include('partials/footer'); -%>